/*
 *  Created on : May 27, 2014, 12:31:12 PM
 *  Author     : debuss-a
 *  Credit     : Common-Services
 */

/* PS 15x */
/*.panel h3 {*/
/*position: relative;*/
/*font-size: 0.9em;*/
/*top: -35px;*/
/*margin-bottom: -25px;*/
/*}*/
/*.panel h3 span{*/
/*background-color: #EBEDF4;*/
/*border: 1px solid #CCCED7;*/
/*padding: 5px;*/
/*}*/
/* PS 14x */
#container #pmUpdateOrder h3 {
    position: relative;
    top: -20px;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: -20px;
}

#container #pmUpdateOrder h3 span {
    background-color: #FFF6D3;
    border: 1px solid #DFD5C3;
    padding: .2em .5em;
}

/* Other */
#pmUpdateOrder .mp_bold {
    font-weight: bold;
    margin: 0 20px 10px 0;
    display: inline-block;
}

/*Module wide logo*/
img.logo-wide {
    float: right;
    width: 350px;
    padding-right: 20px;
}
/*Module circle logo*/
img.logo-circle {
    max-width: 32px;
    height: 32px;
}