#main .priceminister-submit {
    float: right;
    padding: 5px;
}

.table-information td {
    padding-right: 10px;
}

.table-information tr:first-child {
    font-weight: bold;
}

#menuTab option {
    border: 0; /* firefox issue */
}

#main .p2c-profile input {
    padding: 4px;
}

#main .addnew, #main .remove-profile {
    position: relative;
    top: -2px;
    left: 4px;
    border: 1px solid gainsboro;
    padding: 2px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .addnew:hover, #main .remove-profile:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

#main .remove-existing {
    position: relative;
    top: -2px;
    cursor: pointer;
    padding: 2px;
    border: 1px solid transparent;
}

#main .remove-existing:hover {
    border: 1px solid red;
}

cleaner {
    clear: both;
}

.p2c-profile {
    border: 1px solid transparent;
}

.p2c-profile input {
    margin: 3px;
}

.p2c-to {
    position: relative;
    top: -2px;
    opacity: 0.5;
    width: 16px;
    height: 16px;
}

#profiles .margin-form {
    padding-bottom: 0px;
}

.p2c-container .margin-form {
    padding-bottom: 0px;
}

.sep {
    position: relative;
    float: left;
    height: 200px;
    margin: auto 10px auto 10px;
    top: 40px;
}

.move {
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.move:hover {
    padding: 5px;
    border: 1px solid silver;
    background-color: gainsboro;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.move-down, .move-up {
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.move-down:hover, .move-up:hover {
    padding: 5px;
    border: 1px solid silver;
    background-color: gainsboro;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.profile-fields, .available-manufacturers, .selected-manufacturers, .available-suppliers, .selected-suppliers {
    float: left;
    width: 250px !important;
    height: 200px !important;
    resize: vertical;
    overflow: auto;
}

.cleaner {
    clear: both;
    padding: 5px;
}

.server_error {
    color: red;
    font-weight: bold;
}

.server_ok {
    background-color: #cdffce;
}

.server-response {
    min-height: 18px;
    width: 550px;
    border: 1px solid grey;
    background-color: #fffefb;
    padding-left: 5px;
}

.extranew {
    position: relative;
    top: -2px;
    cursor: pointer;
    padding: 2px;
    border: 1px solid transparent;
}

.extranew:hover {
    border: 1px solid navy;
}

.extra-type {
    border: 1px solid #E0D0B1;
    width: 230px;
    height: 65px;
    background-color: #ECEADE;
    float: left;
}

.extra-input-container {
    padding: 2px;
}

.extra-type input {
}

.extra-item {
    margin-top: 5px;
}

.extra-delete {
    position: relative;
    display: inline-block;
    top: -40px;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
    border: 1px solid transparent;
    width: 16px;
    height: 16px;
    background: transparent url('../img/nope.png') no-repeat center center;
}

.extra-delete:hover {
    border: 1px solid navy;
    padding: 2px;
    margin: 2px;
    background: transparent url('../img/delete.gif') no-repeat center center;
}

.ps-manufacturer {
    position: relative;
    top: -2px;
    width: 240px;
}

.pix-manufacturer {
    position: relative;
    top: -2px;
    width: 180px;
}

.extra-radio {
    float: right;
    margin: 10px 10px 0 0;
}

.extra-select {
    float: right;
    width: 80px;
    margin: 10px 10px 0 0;
}

.extra-input {
    float: right;
    width: 80px;
    margin: 10px 10px 0 0;
}

.extra-checkbox {
    float: right;
    margin: 10px 10px 0 0;
}

.extra-type-label {
    position: relative;
    top: 9px;
    font-size: 1.2em;
    font-weight: bold;
    color: green;
}

.extra-field-name {
    font-weight: bold;
    font-size: 1.1em;
}

.extra-name-label {
    font-size: 1.1em;
    color: brown;
    margin-left: 15px;
}

.separator {
    position: relative;
    top: -40px;
    padding: 10px;
}

.import-method-list {
    font-size: 1.2em;
    color: navy;
    opacity: 0.8;
    text-align: left;;
    margin: -3px 10px 0 10px;
}

.customer-account-list {
    font-size: 1.2em;
    color: navy;
    opacity: 0.8;
    text-align: left;;
    margin: -3px 10px 0 10px;
}

.fashion_mode {
    font-size: 1.0em;
    color: black;
    text-align: left;;
    margin: -3px 10px 0 10px;
}

.input_note {
    color: grey;
    font-size: 0.8em
}

/* PS 1.5 */

#menudiv-categories .table tr td {
    border-bottom: none;
}

.shipping_method {
    width: 190px;
    border: 1px solid silver;
    background-color: gainsboro;
    padding: 1px;
    margin: 1px;
}

.shipping-zones input, .shipping-defaults input.method, .shipping-options input {
    width: 200px;
    border: 1px solid silver;
    background-color: gainsboro;
    padding: 2px;
    margin: 1px;
    margin-bottom: 2px;
}

.shipping-defaults input {
    padding: 2px;
    margin: 1px;
    margin-bottom: 4px;
}

.shipping-zones select {
    width: 200px;
}

#main .shipping-options input[type=checkbox] {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.shipping-matrix select {
    padding: 2px;
}

.shipping-matrix input, .shipping-zones select {
    padding: 2px;
}

.shipping-next {
    position: relative;
    top: -1px;
    opacity: 0.5;
    width: 16px;
}

/* Features Mapping */
#feature-mapping {
    display: none;
}

#feature-mapping-collapse, #feature-mapping-collapse a, #feature-mapping-collapse a:hover,
#attribute-mapping-collapse, #attribute-mapping-collapse a, #attribute-mapping-collapse a:hover,
#attribute-custom-collapse, #attribute-custom-collapse a, #attribute-custom-collapse a:hover {
    text-decoration: none;
    color: navy;
    font-size: 11px;
}

#attribute-mapping {
    display: none;
}

.mapping-margin .inline-element {
    display: inline-block;
}

.add-attr-mapping img, .del-attr-mapping img, .add-feature-mapping img, .del-feature-mapping img {
    max-height: none !important;
    opacity: 1 !important;
}

#main .attribute-group span img, #main .feature-group span img {
    max-height: 16px;
    opacity: 0.5;
    position: relative;
    top: -3px;
    vertical-align: middle;
}

#main .attribute-group input, #main .feature-group input, #main .attribute-group select, #main .feature-group select {
    padding: 2px;
    margin: 2px;
    position: relative;
    top: -1px;
    width: 250px;
}

#main .add-attr-mapping img, #main .add-feature-mapping img {
    position: relative;
    top: -3px;
    border: 1px solid gainsboro;
    padding: 4px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .add-attr-mapping img:hover, #main .add-feature-mapping img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

#main .del-attr-mapping img, #main .del-feature-mapping img {
    position: relative;
    top: -3px;
    border: 1px solid gainsboro;
    padding: 4px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .del-attr-mapping img:hover, #main .del-feature-mapping img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

.pm-info p {
    font-size: 1.1em;
}

.pm-info-level-error {
    min-height: 32px;
    background: #FFBABA url(../img/icon-cancel.png) no-repeat 6px 6px;
    border: 1px solid #CC0000;
    padding: 8px 5px 5px 50px;
    border-radius: 3px;
}

.pm-info-level-warn {
    min-height: 32px;
    background: #FEEFB3 url(../img/icon-attention.png) no-repeat 6px 6px;
    border: 1px solid #9e6014;
    padding: 8px 5px 5px 50px;
    border-radius: 3px;
}

.pm-info-level-ok {
    min-height: 32px;
    background: #DFF2BF url(../img/icon-valid.png) no-repeat 6px 6px;
    border: 1px solid #4F8A10;
    padding: 8px 5px 5px 50px;
    border-radius: 3px;
}

.pm-info-text-error {
    color: red;
    font-weight: bold;
}

.pm-info-text-warn {
    color: #9e6014;
    font-weight: bold;
}

.pm-info-text-ok {
    color: #4F8A10;
}

/*
 * Filters
 */
.manufacturer-heading {
    width: 600px;
}

.manufacturer-heading span {
    display: inline-block;
    width: 260px;
    text-align: center;
    padding: 10px;
}

.supplier-heading {
    width: 600px;
}

.supplier-heading span {
    display: inline-block;
    width: 260px;
    text-align: center;
    padding: 10px;
}

/* PS 1.6 */
.connectivity-check {
    margin-left: 15px;
    position: relative;
    top: -3px;
    display: none;
}

.connectivity-ok {
    color: green;
    font-weight: bold;
}

.connectivity-error {
    color: red;
    font-weight: bold;
}

.connectivity-result {
    display: inline-block;
    font-size: 1.2em;
    background-color: #fffefb;
    width: 500px;
    min-height: 16px;
    border: 1px solid gainsboro;
    margin: 0 5px 5px 0;
    padding: 5px;
}

#main .menudiv-config .connectivity-button {
    padding: 4px;
    position: relative;
    top: -2px;
}

.pm-required {
    color: #F00;
    font-weight: bold;
    font-size: 2em;
    position: relative;
    margin: 0 5px 0 10px;
    top: 6px;
}

.fashion-next {
    position: relative;
    top: -1px;
    opacity: 0.5;
    width: 16px;
    height: 16px;
}

.condition-next {
    position: relative;
    top: -1px;
    opacity: 0.5;
    width: 16px;
    height: 16px;
}

.condition-map input {
    width: 200px;
    border: 1px solid silver;
    background-color: gainsboro;
    opacity: 0.6;
    padding: 2px;
    margin: 1px;
    margin-bottom: 2px;
}

.condition-map select {
    width: 200px;
    border: 1px solid silver;
    padding: 2px;
    margin: 1px;
    margin-bottom: 2px;
}

#menudiv-parameters select, .menudiv-config input {
    padding: 2px;
}

.menudiv-config input.login {
    padding: 6px;
}

#top_container .label-checkbox {
    text-align: left;
    float: none;
    font-size: 1.2em;
    color: navy;
    opacity: 0.8;
    padding: 5px;
}

/* debuss-a */

.add-custom-attr, .remove-custom-attr {
    font-weight: bold;
    cursor: pointer;
    clear: both;
}

#top_container .add-custom-attr, #top_container .remove-custom-attr {
    font-size: 1.3em;
}

.add-custom-attr {
    color: green;
    margin-left: 210px;
}

.remove-custom-attr {
    color: red;
}

.bootstrap select, .bootstrap input {
    display: inline;
}

.bootstrap #menuTab {
    -webkit-padding-start: 0;
}

#adminCatalog #menuTab li {
    list-style: none;
    border-bottom: 3px solid whitesmoke;
}

#top_container #adminCatalog {
    margin-top: 20px;
}

#top_container #adminCatalog h3 {
    position: relative;
    font-size: 0.9em;
    top: -35px;
    margin-bottom: -25px;
}

#top_container #adminCatalog h3 span {
    background-color: #EBEDF4;
    border: 1px solid #CCCED7;
    padding: 5px;
}

#top_container #adminCatalog #menu-fr {
    border-bottom: 1px solid #CCCED7;
}

#top_container #adminCatalog #menu-fr > span {
    vertical-align: super;
}

#main .support-informations-loader {
    display: none;
    position: relative;
    top: -2px;
    margin-left: 10px;
}

#main #support-informations-content .print_r {
    padding-left: 50px;
    color: sienna;
}

/*
 * General Price Rules
 */
#main .price-rule-container {
    display: inline-block;
    position: relative;
    top: -5px;
    margin-left: 10px;
}

#main .price_rule-type {
    width: 100px;
    padding: 4px;
    float: left;
}

#main .default-price-rule .price-rule-slash, #main .default-price-rule .price-rule-next {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    position: relative;
}

#main .default-price-rule select {
    padding: 4px;
    position: relative;
    top: 1px;
}

#main .default-price-rule {
    float: left;
    margin-left: 10px;
}

#main .price-rule-type {
    float: left;
    padding: 4px;
    margin-right: 15px;
    position: relative;
    top: 1px;
    width: auto;
}

#main .price-rule-add, #main .price-rule-remove {
    margin-left: 10px;
}

#main .price-rule-add img, #main .price-rule-remove img {
    position: relative;
    border: 1px solid gainsboro;
    padding: 4px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .price-rule-add img:hover, #main .price-rule-remove img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

#main .price-rule input.required {
    border: 1px solid red;
}

#main .checkbox-label {
    font-size: 1.2em;
    padding: 5px;
}

#pm-profile-container input, #pm-profile-container select {

}

#pm-profile-container input[type=checkbox] {
    margin-left: 5px;
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
}

#main .arrow-cat-duplicate:hover {
    border: 1px solid navy;
    background-color: aliceblue;
    opacity: 1;
}

#main .arrow-cat-duplicate {
    position: relative;
    top: 4px;
    display: inline-block;
    background: transparent url(../img/down-double-arrow.png) no-repeat 3px 3px;
    background-size: 9px 11px;
    height: 16px;
    width: 16px;
    border: 1px solid transparent;
    cursor: pointer;
    opacity: 0.8;
}

#main .cron-mode {
    cursor: pointer;
    border: 1px silver dotted;
    padding: 10px;
    height: 52px;
}

#main .cron-mode h4 {
    float: left;
    margin-left: 10px;
}

#main .cron-mode img {
    float: left;
}

#main .cron-prestashop {
    position: relative;
    top: 5px;
}

#prestashop-cronjobs-lines {
    display: block;
    font-family: monospace;
    color: black;
    word-wrap: break-word;
    margin: 1em 0px;
}

#cronjob-loader {
    display: none;
    float: right;
    margin-right: 30px;
    position: relative;
    top: 8px;
}

.hint {
    display: block !important;
}

#main .shipping-option {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

html:not([class]) #container {
    width: 1100px;
}

/*Module wide logo*/
img.logo-wide {
    float: right;
    width: 350px;
    padding-right: 20px;
}
/*Module circle logo*/
img.logo-circle {
    max-width: 32px;
    height: 32px;
}