#priceminister-catalog .parameters input[type=checkbox] {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

#priceminister-catalog .parameters .checkbox-label {
    margin-left: 10px;
}

#priceminister-catalog .parameters .checkbox-help {
    margin-left: 35px;
    color: lightslategrey;
}

#offers-legend li,
#products-legend li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}

#catalog-offers-export,
#catalog-products-export {
    display: inline-block;
    float: right;
    margin-right: 20px;
    min-width: 200px;
}

#catalog-offers-check,
#catalog-products-check {
    display: inline-block;
    float: left;
    margin-left: 20px;
    min-width: 200px;
}

#catalog-offers-result,
#catalog-offers-error,
#catalog-offers-warning,
#catalog-products-result,
#catalog-products-error,
#catalog-products-warning {
    margin-bottom: 20px;
}

#catalog-offers-loader,
#catalog-products-loader {
    display: none;
    position: relative;
    margin-left: 200px;
    width: 32px;
    height: 32px;
    background: transparent url(../img/loading.gif) no-repeat;
}

#main .right {
    text-align: right;
}

#catalog-offers-form table.offer,
#catalog-products-form table.product {
    width: 75%;
    margin-left: 25%;
}

#conf-offers .table td,
#conf-products .table td {
    line-height: 240%;
    cursor: pointer;
}

#conf-offers .table .order-items td,
#conf-products .table .order-items td {
    border-bottom: none;
}

#conf-offers .table .order-items td[rel=checkbox],
#conf-products .table .order-items td[rel=checkbox] {
    width: 30px;
}

.master_reference td {
    font-weight: bold;
}

.imported_row2 td {
    background-color: #EFF8DF;
}

.imported_row td {
    background-color: #DFF2BF;
}

#main .error_row td {
    background-color: #FFBABA;
}

#catalog-reports-report {
    display: inline-block;
    float: right;
    margin-right: 20px;
    min-width: 200px;
}

#catalog-reports-loader,
#catalog-report-loader {
    display: none;
    position: relative;
    margin-left: 200px;
    width: 32px;
    height: 32px;
    background: transparent url(../img/loading.gif) no-repeat;
}

#catalog-reports-form table.report .report-selected td {
    background-color: lightgreen;
}

#conf-reports .table td {
    line-height: 240%;
    cursor: pointer;
}

#conf-products .datepicker {
    max-width: 90px;
    display: inline-block;
}

/*Module wide logo*/
img.logo-wide {
    float: right;
    width: 350px;
    padding-right: 20px;
}
/*Module circle logo*/
img.logo-circle {
    max-width: 32px;
    height: 32px;
}