
#conf-profiles .pm-profile img {
    position: relative;
    top: -1px;
}

#conf-profiles .new-profile-img {
    position: relative;
    top: -2px;
}

#conf-profiles .pm-profile-header {
    position: relative;
    border: 1px solid transparent;
    height: 60px;
}

#conf-profiles .pm-profile-body {
    margin-top: 10px;
}

#conf-profiles .pm-profile-header div {
    position: relative;
    padding: 10px;
    top: 10px;
}

#conf-profiles .pm-profile-action {
    position: relative;
    float: right;
    top: -5px;
    margin-right: 30px;
}

#conf-profiles .pm-profile-action img {
    margin-right: 30px;
    padding: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

#conf-profiles .pm-profile-action img:hover {
    border: 1px solid navy;
}

#conf-profiles .pm-profile-group fieldset {
    border: 1px dotted silver;
    padding: 15px;
}

#conf-profiles .pm-profile-item {
    margin-bottom: 20px;
}

#conf-profiles .pm-profile-delete {
    opacity: 0.5;
    float: left;
}

#conf-profiles .pm-profile-delete:hover {
    opacity: 1;
}

#conf-profiles .pm-profile-minimize {
    opacity: 0.8;
    float: right;
}

#conf-profiles .pm-profile-minimize:hover {
    opacity: 1;
}

#conf-profiles .pm-profile-item label {
    display: inline-block;
    text-align: right;
    min-width: 150px;
    max-width: 350px;
}

#conf-profiles .pm-profile-item input,
#conf-profiles .pm-profile-item select {
    max-width: 350px;
}

#conf-profiles .pm-profile-item input.profile-profile-name {
    max-width: 200px;
}

#conf-profiles .pm-profile-item select.profile-model-name {
    max-width: 200px;
}

#conf-profiles .pm-go-repricing,
#conf-profiles .pm-go-models {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

#conf-profiles .pm-go-repricing:hover,
#conf-profiles .pm-go-models:hover {
    border: 1px solid navy;
}